<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restareareview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rest_area"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rest_area_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ReviewActivity"></activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".RestPickActivity" />
        <activity android:name=".MyMenuActivity" />
        <activity android:name=".EachLoadMap.HonamActivity" />
        <activity android:name=".EachLoadMap.JungangActivity" />
        <activity android:name=".EachLoadMap.JungbunaActivity" />
        <activity android:name=".EachLoadMap.YoungdongActivity" />
        <activity android:name=".EachLoadMap.SeohaeActivity" />
        <activity android:name=".EachLoadMap.NamhaeActivity" />
        <activity android:name=".EachLoadMap.KyungbuActivity" />
        <activity android:name=".EachLoadMap.JungbuActivity" />
        <activity android:name=".EachLoadMapListActivity" />
        <activity android:name=".LoadPickActivity" />
        <activity
            android:name=".Splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>